<!doctype html>
<html lang = "en - US">

<head>

  <meta charset = "utf-8">
  <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
  <title> Gallery </title>
  <link rel="stylesheet" href= "{{url_for('static', filename='css/style.css')}}">

</head>

<body>

  <header>
    <h1 class="Gallery">Gallery</h1>
  </header> 
  <div class = "container">
    <img src="{{url_for('static', filename='images/1.jpg')}}" alt="" class="item">
    <img src="{{url_for('static', filename='images/2.jpg')}}" alt="" class="item">
    <img src="{{url_for('static', filename='images/3.jpg')}}" alt="" class="item">
    <img src="{{url_for('static', filename='images/4.jpg')}}" alt="" class="item">
    <img src="{{url_for('static', filename='images/5.jpg')}}" alt="" class="item">
    <img src="{{url_for('static', filename='images/6.webp')}}" alt="" class="item">
  </div>
   
  <header>
    <h1>

    </h1>
  </header>

  <section>
    <img 
  </section>
</body>
</html>
